* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    --ham-bg: rgb(174, 233, 154);
    --ham-text: rgb(28, 98, 20);
    --text-hover: white;
    --ham-bg-op: rgba(174,233,154,0.5);
    --ham-text-op: rgba(28,98,20,0.5);
}

/* base size of font */
html {
    font-size: 4vw;
}

/* overwriting Foundation + Styling the ul */
ul {
    margin:0;
    max-height: 150px;
    overflow-y: scroll;
}

.recipeFormat {
    height: 95vh;
    overflow-y: scroll;
}

/* .containerFormat {
    height: 25vh
} */

.listRecipes {
    height: 95vh;
    overflow-y:scroll;
}

/* styles Header */
.homeReference a {
    text-decoration: none;
    color: black;
}

.homeReference a:hover {
    font-size: 30px;
    transition: 0.3s;
}
/* end of Header styling */

/* styles Recipe Box header */
.homeReference {
    font-family: 'La Belle Aurore', serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: -10px;
    font-size: 25px;
    margin: 0;    
    color: black;
    text-decoration: none;
    height: 5vh;
}
/* end of the recipe box header */

.background {
    background-image: url("../images/background-final.jpg");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* styling the Hamburger Menu */
#hamburgerIcon {
    float: left;
    font-size: 30px;
    padding-left: 15px;
    cursor: pointer;
    transition:0.3s;
}

#hamburgerIcon:hover {
    color: var(--ham-text);
}

.hamburger {
    height: 100vh;
    width: 100vw;
    /* Code for small screen here and add this line to larger screen media query */
    position: fixed;
    z-index: 1;
    background-color: var(--ham-bg);
    transition: 1s;
}

.nav {
    padding: 15px 10px;
    text-decoration: none;
    font-family: "La Belle Aurore", serif;
    font-size: 7vw;
    color: var(--ham-text);
    transition: 0.3s;
    width: auto;
}

.nav:hover {
    color: var(--text-hover);
    filter:drop-shadow(3px 3px 3px var(--ham-text));
}

.closeHamburger {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 36px;
    color: var(--ham-text)
}

.closeHamburger:hover {
    color:var(--text-hover)
}

.socialMedia {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 20px;    
    font-family: "La Belle Aurore", serif;
    color: var(--ham-text);
}
/* End of styling Hamburger Menu */

/* script.js styling */
input {
    padding: 10px;
}

ul {
    background-color: rgba(28,98,20,0.25);
    list-style: none;
    border-radius: 5px;
    margin: 0 auto;
}

.landingPage {
    height: 95vh;
}

.landingText {
    font-size: 5vw;
    font-family: "Suez One", serif;
    color: var(--ham-text-op);
}

.landingText:hover {
    font-family: "Suez One", serif;
    color: var(--ham-text);
}

/* End of script.js styling */

/* ingredients.js styling */
.addIngredientBtn, .searchBtn{
    background-color: var(--ham-bg);
    border: var(--text-hover);
    text-align: center;
    color: var(--ham-text);
    display: inline;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}

.deleteBtn{
    margin: 0 10px;
}

.addIngredientBtn:hover, .searchBtn:hover {
    font-size: 20px;
    background-color:var(--ham-text) ;
    color: var(--ham-bg);
    border-radius: 5px;
    transition: 0.3s;
}

#image{
    width: 100px;
    height: 100px;
}

.container{
    background-color: var(--ham-text-op);
    padding:10px;
    margin-top: 10px;
}
/* end of ingredients.js styling */

/* random.js styling */
.card {
    padding: 5px;
    margin: 5px auto;
    background-color: var(--ham-bg-op);
    align-items: center;
}

div.card > a {
    padding: 1rem;
}

div.card-section > p {
    display: inline;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
}
/* End of random.js styling */

/* For iPads and Tablets 481px - 768px */
@media screen and (min-width:481px) {
    html {
        font-size: 3vw;
    }

    label {
        font-size: 3vw;
    }
}

/* For Small Screens and Laptops 769px - 1024px */
@media screen and (min-width:769px) {
    html {
        font-size: 2vw;
    }

    label {
        font-size: 2vw;
    }

    .hamburger {
        width: 40%;
    }

    .nav {
        font-size: 3vw;
    }
}

/* For Desktops and Large Screens 1025px - 1200px */
@media screen and (min-width:1025px) {
    .hamburger {
        width: 30%;
    }

    .nav {
        font-size: 2.5vw;
    }
}

/* For Extra Large Screens and TVs 1201px and more */
@media screen and (min-width:1201px) {
    html {
        font-size: 1.5vw;
    }

    label {
        font-size: 1.5vw;
    }

    .hamburger {
        width: 25%;
    }

    .nav {
        font-size: 2vw;
    }
}