* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.hamburger {
    background-color: plum;
    width:0;
    /* Code for small screen here and add this line to larger screen media query */
    height: 100vh;
    transition: 0.5s;
}

.hamburger a {
    padding: 5px 10px;
    text-decoration: none;
    /* Manually code the transition */
    transition: 0.3s;
    font-size: 30px;
}

.addIngredientBtn, .deleteBtn, .searchBtn{
    background-color: #7EC8E3;
    border: #7EC8E3;
    margin: 5px;
    width: 80%;
    text-align: center;
    color: #0000FF;
    display: inline;
    border-radius: 5px;
    
}

.addIngredientBtn:hover, .deleteBtn:hover, .searchBtn:hover {
    font-size: 20px;
    background-color:#0000FF ;
    color: #7EC8E3;
    border-radius: 5px;
   
}

#image{
    width: 100px;
    height: 100px;
}