* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* Styles Recipe Box header */
h1 {
    font-family: 'La Belle Aurore', serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: -10px;
    font-size: 25px;
    margin: 0;
}

/* Styling the Hamburger Menu */
#hamburgerIcon {
    float: left;
    font-size: 30px;
    padding-left: 15px;
    cursor: pointer;
}

.hamburger {
    height: 100vh;
    width:300px;
    /* Code for small screen here and add this line to larger screen media query */
    position: fixed;
    z-index: 1;
    background-color: plum;
    transition: 0.5s;
}

.nav {
    padding: 5px 10px;
    text-decoration: none;
    font-family: "La Belle Aurore", serif;
    font-size: 30px;
    color: purple;
    transition: 0.3s;
    width: auto;
}

.nav:hover {
    color: white;
}

.hamburger .closeHamburger {
    position: absolute;
    top: 0;
    left: 250px;
    font-size: 36px;
    color: purple
}
/* End of styling Hamburger Menu */

.landingText {
    font-size: 50px;
    color: white;
}

/* ingredients.js styling */
.addIngredientBtn, .searchBtn{
    background-color: #7EC8E3;
    border: #7EC8E3;
    margin: 0 10px;
    width: 20%;
    text-align: center;
    color: #0000FF;
    display: inline;
    border-radius: 5px;
    padding: 20px;
    
}

.addIngredientBtn:hover, .searchBtn:hover {
    font-size: 20px;
    background-color:#0000FF ;
    width: 20%;
    color: #7EC8E3;
    border-radius: 5px;
   
}

#image{
    width: 100px;
    height: 100px;
}
.inputs{
    width: 20%;
    margin: 10px;
}
.container{
    background-color: rgb(109, 109, 171);
    padding: 10px;
}
.list{
    margin-left: auto; 
    margin-right: 0;
}
/* end of ingredients.js styling */
/* random.js styling */
.card {
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(109, 109, 171);
    align-items: center;
}

div.card > a {
    padding: 1rem;
}

div.card-section > p {
    display: inline;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
}
/* End of random.js styling */

/* For Small Screens and Laptops 769px - 1024px */
@media screen and (min-width:769px) {
    #background {
        background-image: url("../images/background.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* z-index: -1; */
    }
}